In [3]:
import os
path = os.getcwd()
path = path.split('interactions', 1)[0] + 'interactions'
print(path)

In [5]:
import pyreadr

result = pyreadr.read_r(path+'/results/whole_data/saved_conns_params.rds')
found_conns =result[None]
found_conns.head()

                  Peak1               Peak2  coaccess
0  2L:10000911-10005105  2L:9950542-9951114 -0.004935
1  2L:10000911-10005105  2L:9951639-9952096 -0.006133
2  2L:10000911-10005105  2L:9953572-9954853  0.535853
3  2L:10000911-10005105  2L:9956463-9957908  0.569393
4  2L:10000911-10005105  2L:9963307-9963951  0.365548